.IS-list-parent {
  height: 100%;
  width: 100%;
  overflow: scroll;
  overscroll-behavior: none;
}

.IS-list {
  overflow: scroll;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
}

.IS-list-item {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.IS-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.IS-h-100 {
  height: 100%;
}

.IS-h-auto {
  height: auto;
}
